// Seel Widget SCSS 变量
$main-btn-bg: var(--checkout-btn-color, var(--main-btn-bg, #333));
$seel-border-color: #d6d7da;
$seel-text-color: #333;
$seel-desc-color: #333;
$seel-powered-color: #909399;
$seel-brand-color: #645aff;
