.seel-checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  line-height: 24px;
  margin-right: 12px;

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__checkmark {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 1px solid $seel-border-color;
    border-radius: 2px;
    transition: all 0.2s ease;

    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 2px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  &__input:checked ~ &__checkmark {
    background-color: $main-btn-bg;
    border-color: $main-btn-bg;

    &::after {
      display: block;
    }
  }

  &:hover &__checkmark {
    border-color: $main-btn-bg;
  }
}
